@use '../../variables.scss' as *;

.rect {
    background: $bg-light;
    width: 100%;
    height: 150px;
}

.title {
    line-height: 150px;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 60px;
}

@media only screen and (max-width: 900px) {
    .title {
        padding-left: 30px;
        font-size: 30px;
    }
}
