@use '../../variables.scss' as *;

:host {
    flex: 1 1 300px;
    background-color: $bg-light;
    border-radius: 5px;
    user-select: none;
    transition: all ease 0.15s;
}

:host .content {
    padding: 10px;
}

.card-title {
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

:host .footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: $menu;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

:host .footer .created {
    color: #ffffff33;
}

@media (hover: hover) {
    :host:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.335);
        box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.335);
        transform: scale(1.02);
    }
}