<div class="container">
    <div class="question">
        {{qtext}}
    </div>
    <div (click)="answered(1)" class="answer answer1">{{ans1}}</div>
    <div (click)="answered(2)" class="answer answer2">{{ans2}}</div>
    <div (click)="answered(3)" class="answer answer3">{{ans3}}</div>
    <div (click)="answered(4)" class="answer answer4">{{ans4}}</div>
</div>
<span (click)="exit()" class="exit">
    <svg xmlns="http://www.w3.org/2000/svg" fill="#ADD3E4" width="12" height="12" viewBox="0 2 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
    Exit
</span>
<span (click)="toggleNormal()" class="switch">
    {{normal?name1+'-'+name2:name2+'-'+name1}} &nbsp; 
    <svg xmlns="http://www.w3.org/2000/svg" fill="#ADD3E4" width="15" height="15" viewBox="0 -2 24 24">
        <path d="M9 12l-4.463 4.969-4.537-4.969h3c0-4.97 4.03-9 9-9 2.395 0 4.565.942 6.179 2.468l-2.004 2.231c-1.081-1.05-2.553-1.699-4.175-1.699-3.309 0-6 2.691-6 6h3zm10.463-4.969l-4.463 4.969h3c0 3.309-2.691 6-6 6-1.623 0-3.094-.65-4.175-1.699l-2.004 2.231c1.613 1.526 3.784 2.468 6.179 2.468 4.97 0 9-4.03 9-9h3l-4.537-4.969z"/>
    </svg>
</span>