@use "../../variables.scss" as *;
.container {
    z-index: 40;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: $bg;

    padding: 15px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 15px;
}

.question {
    color: $secondary;
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    pointer-events: none;
}

.answer {
    background-color: $bg-light;
    color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

@media (hover: hover) {
    .answer:hover {
        background-color: $primary;
    }
}

.answer1 { grid-area: 2 / 1 / 3 / 2; }
.answer2 { grid-area: 3 / 1 / 4 / 2; }
.answer3 { grid-area: 4 / 1 / 5 / 2; }
.answer4 { grid-area: 5 / 1 / 6 / 2; }

.switch {
    z-index: 50;
    position: absolute;
    top: 15px;
    right: 15px;
    color: $content-color;
    cursor: pointer;
    font-size: 18px;
}

.exit {
    z-index: 50;
    position: absolute;
    top: 15px;
    left: 15px;
    color: $content-color;
    cursor: pointer;
    font-size: 18px;
}