@use '../variables.scss' as *;

.container {
    background-color: $bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.menu {
    z-index: 10;
    background-color: $menu;
    flex: 0 0 275px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.57);
    display: flex;
    flex-direction: column;
    transition: transform ease 0.2s;
}

.toolbar {
    display: none;
}

@media only screen and (max-width: 900px) {
    .menu {
        -webkit-box-shadow: none;
        box-shadow: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        width: 275px;
        transform: translateX(-275px);
    }

    .menu.menuopen {
        -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.57);
        box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.57);
        transform: translateX(0);
    }

    .toolbar {
        background: $menu-dark;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}

.spacer {
    flex: 1 1 auto;
}

.menu .header {
    flex: 0 0 55px;
    padding: 10px 30px;
    border-bottom: 2px solid $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    user-select: none;
}

.menu .header .title {
    color: #fff;
}

#hamburger {
    padding: 0;
    background: none;
    outline: none;
    border: none;
}

.menu .footer {
    flex: 0 0 auto;
    background-color: $menu-dark;
    border: none;
    outline: none;
    color: $light;
    width: 100%;
    transition: background ease 0.3s;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (hover: hover) {
    .menu .footer:hover {
        background-color: $bg;
    }
}

.menu .link {
    flex: 0 0 55px;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 2px;
    color: $menu-text;
    font-weight: 500;
    font-size: 14px;
    transition: all ease 0.3s;
}

.menu .link:hover,
.menu .link.active {
    background-color: $bg-light;
    color: $light;
    position: relative;
}

.menu .link.active::before {
    content: "";
    display: block;
    background-color: $secondary;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 6px;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.content {
    z-index: 0;
    flex: 1 1 auto;
    height: 100%;
    overflow-y: auto;
    color: $bg-text;
}

.yesnomodal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.yesnomodal-content {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0);
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px 15px 20px 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 15px;
}

.yesnomodal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.yesnomodal-content .close:hover,
.yesnomodal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }
  
  .snow {
    $total: 200;
    position: fixed;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 50%;
    pointer-events: none;
    color: #a3b1bc;
    z-index: 5;
  
    @for $i from 1 through $total {
      $random-x: random(1000000) * 0.0001vw;
      $random-offset: random_range(-100000, 100000) * 0.0001vw;
      $random-x-end: $random-x + $random-offset;
      $random-x-end-yoyo: $random-x + ($random-offset / 2);
      $random-yoyo-time: random_range(30000, 80000) / 100000;
      $random-yoyo-y: $random-yoyo-time * 100vh;
      $random-scale: random(10000) * 0.0001;
      $fall-duration: random_range(10, 30) * 1s;
      $fall-delay: random(30) * -1s;
  
      &:nth-child(#{$i}) {
        opacity: random(8000) * 0.0001;
        transform: translate($random-x, -10px) scale($random-scale);
        animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
      }
  
      @keyframes fall-#{$i} {
        #{percentage($random-yoyo-time)} {
          transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
        }
  
        to {
          transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
        }
      }
    }
  }