<ng-container *ngIf="!(quiz.openSubject | async) && snowOn">
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
    <div class="snow">❅</div>
</ng-container>

<div class="container" 
(panright)="menuopen=true">
    <div class="menu" [class.menuopen]="menuopen">
        <div class="header">
            <img src="/assets/white.svg" height="45" alt="">
            <span class="title">Vocabulary Trainer</span>
        </div>
        <button  (click)="closeMenu($event)" [routerLink]="[ '/home' ]" routerLinkActive="active" class="link">Home</button>
        <button  (click)="closeMenu($event)" *ngIf="session" [routerLink]="[ '/mylists' ]" routerLinkActive="active" class="link">My word lists</button>
        <app-togglebtn  (click)="closeMenu($event)" [(ischecked)]="snowOn">Toggle snow</app-togglebtn>
        <span class="spacer"></span>
        <button  (click)="closeMenu($event)" *ngIf="!session; else logoutbtn" [routerLink]="[ '/login' ]" class="footer">Sign in</button>
        <ng-template #logoutbtn>
            <button  (click)="closeMenu($event); logout()" class="footer">{{name}}<br /><br />Sign Out</button>
        </ng-template>
    </div>
    <div class="content" (click)="closeMenu($event)">
        <div class="toolbar">
            <button (click)="menuopen=true" id="hamburger">
                <svg viewBox="0 0 100 70" width="15" height="15" fill="#ADD3E4" style="pointer-events: none;">
                    <rect width="100" height="10"></rect>
                    <rect y="30" width="100" height="10"></rect>
                    <rect y="60" width="100" height="10"></rect>
                </svg>
            </button>
            <span class="title">Vocabulary Trainer</span>
            <img src="/assets/white.svg" height="45" alt="">
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="(yesno.openSubject | async) as data" class="yesnomodal">
    <div class="yesnomodal-content">
        <span class="close" (click)="yesno.closeDialog()">&times;</span>
        <p>{{data.title}}</p>
        <br />
        <div style="text-align: center;">
            <button class="jbutton" (click)="yesno.answerSubject.next(data.notext)"
                style="min-width: 100px;">{{data.notext}}</button> &nbsp;&nbsp;
            <button class="jbutton" (click)="yesno.answerSubject.next(data.yestext)"
                style="min-width: 100px;">{{data.yestext}}</button>
        </div>
    </div>
</div>

<app-trainer *ngIf="quiz.openSubject | async"></app-trainer>