@use 'variables.scss' as *;

.toast-container .ngx-toastr {
    box-shadow: 0 0 12px #000000;
    color: #ffffff;
}
.toast-container .ngx-toastr:hover {
    box-shadow: 0 0 12px #333333;
}

.toast-top-center {
    top: 15px;
}

/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Noto Sans", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background-color: $bg;
    overflow: hidden;
    overflow-anchor: none !important;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    font-family: "Source Sans Pro", sans-serif;
    z-index: 30;
}

input {
    padding: 15px;
    background-color: $light;
    border: none;
    outline: none;
    border-radius: 5px;
    z-index: 30;
}

.jbutton {
    z-index: 30;
    background-color: $primary;
    color: $light;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
    // transition: all ease 0.15s;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

@media (hover: hover) {
    .jbutton::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: $secondary;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .jbutton:hover:before,
    .jbutton:focus:before,
    .jbutton:active:before {
        left: 0;
        right: 0;
    }

    .jbutton:hover,
    .jbutton:focus,
    .jbutton:active {
        -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.5);
    }
}

.jbutton.red {
    background: rgba(255, 0, 0, 0.479) !important;
}

.jbutton.secondary::before {
    background: $light;
}
.jbutton.secondary {
    background-color: $secondary;
    color: $menu;
}

.wrapper {
    max-width: 1084px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 35px;
    padding-right: 35px;
}

.fadeIn {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
    .hidesmall {
        display: none;
    }

    .wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 700px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .jbutton {
        padding: 10px;
        font-size: 14px;
    }
}