.loginbtn {
    outline: none;
    border: none;
    line-height: 44px;
    height: 44px;
    width: 300px;
    max-width: 100%;
    text-align: left;
    padding-left: 12px;;
    margin-bottom: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.loginbtn svg {
    position: relative;
    top: 6px;
    margin-right: 15px;
}