<app-pageheader [title]="id?'Edit list':'New list'"></app-pageheader>
<div class="wrapper" *ngIf="rows && ready; else loading">
    <div class="buttonRow">
        <button class="jbutton" (click)="back()">
            <span class="hidesmall">← </span>Back
        </button>
        <button (click)="save()" class="jbutton">
            <span class="hidesmall">💾 </span>Save list
        </button>
        <button *ngIf="id" (click)="delete()" class="jbutton red">
            <span class="hidesmall">❌ </span>Delete list
        </button>
        <button (click)="play()" style="flex: 1 1 400px" class="jbutton">
            Start Practice!<span class="hidesmall"> ▶</span>
        </button>
    </div>

    <br />
    <br />
    <h1>Enter a name for your list</h1>
    <div class="row">
        <input style="width: 100%" placeholder="List name" (change)="isSaved=false" [(ngModel)]="title" type="text" />
        <app-togglebtn (ischeckedChange)="isSaved=false" [(ischecked)]="ispublic">Is this list public?</app-togglebtn>
    </div>

    <br />
    <h1>Enter the names of the languages</h1>
    <div class="row">
        <input style="width: 100%" placeholder="Language 1" (change)="isSaved=false" [(ngModel)]="name1" type="text" />
        <input style="width: 100%" placeholder="Language 2" (change)="isSaved=false" [(ngModel)]="name2" type="text" />
    </div>

    <br />
    <h1>Enter the vocabulary of the languages</h1>
    <p style="margin-bottom: 30px">The training tool will always shuffle the list so don't worry about the order. On the left side you can type all the words from the first language and then translate them in the right column. During training you can switch between languages.</p>
    <div *ngFor="let row of rows; let i = index" class="qRow">
        <div class="buttons">
            <div (click)="addRow(i)" class="jbutton secondary small">✚</div>
            <div (click)="delRow(i)" class="jbutton small red">❌</div>
        </div>
        <div class="inputs">
            <input [placeholder]="name1?name1:'Language 1'" (change)="isSaved=false" [(ngModel)]="row[0]" type="text" />
            <input [placeholder]="name2?name2:'Language 2'" (change)="isSaved=false" [(ngModel)]="row[1]" type="text" />
        </div>
    </div>
    <p *ngIf="!rows.length" class="warn">There are no words yet! Click the plus button (✚) to add a new row.</p>

    <br />
    <div (click)="addRow(-1)" class="jbutton secondary small">✚</div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>