@use '../../variables.scss' as *;

.row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.row input, .ghost {
    flex: 1 1 400px;
}

.row .jbutton {
    flex: 0 0 48px;
}

.qRow {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.qRow .buttons {
    display: flex;
    gap: 15px;
}

.qRow .inputs {
    flex: 1 1 auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.qRow .inputs input {
    flex: 1 1 auto;
}

.jbutton.small {
    padding: 0;
    line-height: 48px;
    width: 48px;
    text-align: center;
}

.warn {
    background: $menu;
    padding: 15px;
}

.buttonRow {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.buttonRow * {
    flex: 1 1 auto;
}