<app-pageheader title="Home"></app-pageheader>

<div class="wrapper" *ngIf="lists && ready; else loading">
    <h1>Public lists of other users, start practicing!</h1>
    <br />
    <p>
        A project that helps you train vocabulary of a new language or help you remember professional jargon. By entering the words from the two languages you start learning the moment you begin making a new list. When your list is done you can practice in a multiple-choice style quiz. The system will make a sound that tells you you have answered wrong or correct. This auditory feedback helps to remember the words.
        <br /><br />When you feel like you are answering everything correct it is possible to switch languages. This way you can learn the words in both directions.
    </p>
    <br />
    
    <ng-container *ngIf="isLoggedOut()">
        <h1>With a free account you can make your own lists!</h1>
        <br />
        <button [routerLink]="[ '/login' ]" class="jbutton">Login or create an account for free!</button>
        <br />
        <br />
        <br />
        <br />
    </ng-container>


    <h1>Public lists of other users, start practicing!</h1>
    <br />
    <div class="lists">
        <app-listcard [title]="list.title" (click)="play(list.id)"
            [created]="list.created_at" [languages]="list.name1 + ' - ' + list.name2" *ngFor="let list of lists">
        </app-listcard>
        <div class="ghost"></div>
        <div class="ghost"></div>
    </div>

    <br />
    <br />
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>