<app-pageheader title="My Lists"></app-pageheader>

<div class="wrapper" *ngIf="lists; else loading">
    <h1>Add a new list; or click on one to start practice!</h1>
    <br />
    <button [routerLink]="[ '/mylists/editor' ]" class="jbutton">Add new list</button>
    <div class="lists">
        <app-listcard [public]="list.ispublic" [routerLink]="[ '/mylists/editor', {id:list.id} ]" [title]="list.title" [created]="list.created_at" [languages]="list.name1 + ' - ' + list.name2" *ngFor="let list of lists"></app-listcard>
        <div class="ghost"></div>
        <div class="ghost"></div>
    </div>
</div>

<ng-template #loading>
    <app-loader></app-loader>
</ng-template>