@use '../../variables.scss' as *;

.toggler {
    flex: 0 0 auto;
    background-color: $bg;
    border: none;
    outline: none;
    color: $light;
    width: 100%;
    transition: background ease 0.3s;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
    padding-right: 14px;
}

@media (hover: hover) {
    .toggler:hover {
        background-color: $bg-light;
    }
}

.toggler svg {
    position: relative;
    top: 8px;
}